<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>植物检疫证书V1.0 - {% block title %}{% end %}</title>
    <!–[if lt IE 9]>
    <script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <![endif]–>
    {% block bootstrap %}
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap/gdf.css') }}"/>

    {% end %}
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('css/bootstrap-datetimepicker.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('plugins/fileinput/css/fileinput.min.css') }}"/>


    <link href="{{ static_url('plugins/wysiwyg/external/google-code-prettify/prettify.css') }}"
          rel="stylesheet">
    <link href="{{ static_url('plugins/wysiwyg/css/editor_style.css') }}" rel="stylesheet">


    <script src="{{ static_url('js/jquery.js') }}"></script>
    <script src="{{ static_url('js/bootstrap_2_3_1.min.js') }}"></script>

    <!– fileinput >
    <script src="{{ static_url('plugins/fileinput/js/fileinput.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('plugins/fileinput/js/locales/zh.js') }}" type="text/javascript"></script>

    <!– wysiwyg >
    <script src="{{ static_url('plugins/wysiwyg/js/bootstrap-wysiwyg.js') }}"></script>
    <script src="{{ static_url('plugins/wysiwyg/external/jquery.hotkeys.js') }}"></script>
    <script src="{{ static_url('js/ajaxfileupload.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-datetimepicker.min.js') }}"></script>


    {% block css %}
    {% end %}
</head>
<body>
{% block navbar %}
<div class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">



                <li><a href="{{ reverse_url('plant_list') }}">植物检疫证书列表</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if True %}
                <li><a href="{{ reverse_url('manage_change_password') }}">修改密码</a></li>
                <li><a href="{{ reverse_url('manage_logout') }}">退出</a></li>
                {% else %}
                <li><a href="{{ reverse_url('manage_login') }}">登陆</a></li>
                {% end %}
            </ul>
        </div>
    </div>
</div>
{% end %}
{% block content %}
<div class="container">


    {% block page_content %}{% end %}
</div>
{% end %}

{% block js %}
{% end %}
</body>
</html>